/* .card{
    margin-bottom: 8vh;    
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 6px 12px #f1d4e5;
    background-color: #FFECEC;
    width: 78vw;
    min-width: 50rem;    
    height: 40vh;
    min-height: 25rem;
} */

/* .image-container {
    width: auto;
    height: auto;
    content: "";
    display: block;
    
  } */

/*   .container-card{
    display: flex;
    flex-basis: 1rem;
  } */




.image-container img {
    border-radius: 10px;
    max-width: 220px;
    max-height: 220px;
    /* width: auto;
    height: auto; */
    box-shadow: 4px 6px 12px #f1d4e5;

}

.image-container-mobile img {
    /* border-radius: 10px; */
    max-width: auto;
    max-height: auto;
    /* width: auto;
    height: auto; */
    box-shadow: 4px 6px 12px #f1d4e5;

}

.is-padding{
    padding-left: 1vw;
}

/* .image{
    position: relative;
    box-shadow: 4px 6px 12px #f1d4e5;
    border-radius: 10px;
    width:90%;
    height:90%;
    min-width: 13rem;
    min-height:13rem ;
} */

.is-container-button-mobile {
    position: relative;
}

.is-container-button-mobile span {
    position: absolute;
    right: 8px;
    top: 5px
}

.is-container-button-mobile button {
    width: 100%;
    
}





.is-container-button {
    position: relative;
}

.is-container-button span {
    position: absolute;
    right: 8px;
    top: 5px
}

.is-container-button button {
    width: 220px;
    
}

.bg-button {
    background-color: #f1d4e5;
}

.width {
    min-width: 840px;
    max-width: 840px;
}

.box {

    box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
}

.bg {
    background-color: #FFECEC;
}

.precio {
    padding-top: 10px;
}

.is-hover {
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

.is-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* Escala la tarjeta al 105% de su tamaño original */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */

}

