.is-bg-navbar {
    background-color: #f1d4e5;
}

#navbarBasic .navbar-start .navbar-item:hover {
    background-color: #f1d4e5 !important;

}

#navbarBasic .navbar-start .navbar-item:hover {
    background-color: #f1d4e5 !important;

}

#navbarBasic .navbar-start .navbar-link:hover {
    background-color: #f1d4e5 !important;
}

.navbar-end {
    position: relative;
}

.navbar-end span{
    position: absolute;
    right: 2vw;
    top: 20px;
    
    }
.custom-input {

    width: 70vh;
}

.is-control-espan {
    position: absolute;
    left: 0;
}

.shoping-car{
    position: relative;
}
.shoping-car span{
    top:-14px;
    right: -10px;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #C780FA;
    position: absolute;
}